@media(max-width:1280px){
    body img{
        position: relative;
        left: 460px;
    }
    .end{
        position: relative;
        top: 750px;
    }
}

@media(max-width:1024px){
    body img{
        position: relative;
        left: 330px;
    }
}

@media(max-width:1050px){
    body img{
        position: relative;
      
    }
    .end{
        position: relative;
        top: 850px;
    }
}

@media(max-width:715px){
    .end{
        position: relative;
        top: 1050px;
    }
}

@media(max-width:1020px){
    body img{
        position: relative;
        left: 250px;
    }
}

@media(max-width:660px){
    body img{
        position: relative;
        left: 150px;
    }

}

@media(max-width:375px){
    #title{
        font-size: 290%;
    }
}

@media(max-width:428px){
    body img{
        left: 35px;
    }
}

@media(max-width:800px){
    body img{
        position: relative;
        left: 220px;
    }
}

@media(max-width:415px){
    body img{
        position: relative;
        left: 60px;
        width: 70%;
        height: 70%;
    }
    .end{
        top: 1100px;
    }
}

@media(max-width:360px){
    body img{
        position: relative;
        left: 90px;
        width: 50%;
        height: 50%;
    }
    #title{
        font-size: 280%;
    }
    .end{
        top: 1250px;
    }
    .localisation #loc{
        left: 5px;
    }
    .recherche{
        left: -10px;
    }
}

@media(max-width:540px){
    .com{
        top: 30px;
        left: 7px;
    }
    .menu{
        padding: 60px;
    }
    .recherche{
        top: -20px;
        left: 40px;
    }
}

