@media(max-width:810px){
  body #back{
    position: relative;
    top: -530px;
    left: 10px;
  }
  body #back_text{
    top: -535px;
    left: 20px;
  }
  .com{
    left: 40px;
  }
  .recherche{
    left: 10px;
  }
}

@media(max-width:360px){
  .recherche{
    left: -10px;
  }
  .com{
    left: 50px;
  }
  body #sorry{
    font-size: 275%
  }
  body #back{
    top: -180px;
  }
  body #back_text{
    top: -185px;
  }
  .banner #bulle_left{
    left: 70px;
  }
  .banner #bulle_right{
    left: -70px;
  }
}

@media(max-width:412px){
  .banner #bulle_left{
    left: 70px;
  }
  .banner #bulle_right{
    left: -70px;
  }
}