@font-face{
    font-family: 'ephesis-regular';
    src: url(font/ephesis-regular-webfont.woff2) format('woff2'),
         url(font/ephesis-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background: #e0e4b3;
}

.banner{
    background-color: #557C55;
    color: #F2FFE9;
    font-family: 'ephesis-regular';
    padding: 5px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.menu{
    background-color: #3f5c3f;
    padding: 20px;
    box-shadow: -0px 5px 9px rgba(0, 0, 0, .3);
}

.recherche{
    position: relative;
    left: 20px;
}

.com{
    position: relative;
    background-color: #3f5c3f;
}

.com a{
    text-decoration: none;
    color: #F2FFE9;
    font-family: 'ephesis-regular';
    position: relative;
    top: -25px;
    left: 1050px;
    font-size: 25px;
    font-weight: bold;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.com a:hover{
    color: #FA7070;
}

.menu #loupe{
    width: 22px;
    height: 22px;
    float: left;
    position: relative;
    left: 0.1px;
    top: 0.1px;
}

.menu #search{
    position: relative;
    left: 10px;
}

.com #img_forum{
    float: right;
    width: 22px;
    height: 22px;
    position: relative;
    left: -80px;
    top: -20px;
}

.com #text_forum{
    float: right;
    position: relative;
    left: -70px;
}

.com #img_profil{
    float: right;
    width: 22px;
    height: 22px;
    position: relative;
    top: -20px;
    left: -35px;
}

.com #text_profil{
    float: right;
    left: -30px;
}

body #back{
    width: 33px;
    height: 33px;
    position: relative;
    top: 25px;
    left: 10px;
}

body #back_text{
    color: #FA7070;
    font-family: 'ephesis-regular';
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 20px;
}

#title{
    text-align: center;
    color: #3f5c3f;
    font-family: 'ephesis-regular';
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

body img{
    width: 350px;
    height: 450px;
    position: relative;
    left: 495px;
}

.nom_scientifique{
    position: relative;
    top: 20px;
    font-family: 'ephesis-regular';
    color: #3f5c3f;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.nom_scientifique #nom_sctf{
    font-style: italic;
}

.famille{
    position: relative;
    top: 30px;
    font-family: 'ephesis-regular';
    color: #3f5c3f;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.famille #nom_fam{
    font-style: italic;
}

.genre{
    position: relative;
    top: 35px;
    font-family: 'ephesis-regular';
    color: #3f5c3f;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.genre #gnr{
    font-style: italic;
}

.description{
    color: #3f5c3f;
    font-family: 'ephesis-regular';
}

.description #title{
    position: relative;
    top: 70px;
    font-size: 40px;
    text-decoration: underline;
}

.description #descr_text{
    position: relative;
    top: 70px;
    font-size: 30px;
    float: left;
    text-align: center;
}

.source{
    color: #3f5c3f;
    font-family: 'ephesis-regular';
    position: relative;
    top: 70px;
    font-size: 30px;
    float: left;
}

.source #txt{
    position: relative;
    left: 40px;
}

.source #src{
    position: relative;
    left: 40px;
    text-decoration: none;
    color: #FA7070;
}

.localisation{
    color: #3f5c3f;
    font-family: 'ephesis-regular';
}

.localisation #loc{
    float: left;
    position: relative;
    top: 125px;
    left: -183px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
}

.localisation #loc_txt{
    position: relative;
    top: 170px;
    left: -350px;
    float: left;
    font-size: 30px;
}

.photos #phot{
    float: left;
    position: relative;
    top: 190px;
    left: -350px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 40px;
    color: #3f5c3f;
    font-family: 'ephesis-regular';   
}

.photos #cadre{
    text-align: center;
    position: relative;
    top: 195px; 
    float: left;
    color: #FA7070;
    font-family: 'ephesis-regular';
    border: 1px solid #FA7070;
    padding: 5px;
    font-size: 30px;
}

.end{
    background-color: #3f5c3f;
    color: #3f5c3f;
    font-family: 'ephesis-regular';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 550px;
}